*.o

# Build folder
build/

aclocal.m4
config.log
config.status
configure
Makefile.in
Makefile
autom4te.cache/
depcomp
install-sh
missing
.deps/
.dirstamp
masternode
masternode_tests
*.log
*.trs
test-driver

.DS_store
.vscode/settings.json
