################################################################
# This file is meant to be passed in as the --env-file parameter
# of a docker run command when running the masternode container.
# Please copy this file and edit to suit your needs.
# Comment out any variable to use the default value set by the
# masternode itself.
################################################################

# IP address to bind to locally
FLAGS_ip=0.0.0.0

# TCP Port to bind to locally
FLAGS_port=80

# IP of the origin server to proxy for
FLAGS_origin_host=192.168.2.12

# Port of origin server to proxy for
FLAGS_origin_port=80

# The domain name this masternode is fronting
FLAGS_protected_domain=www.example.com

# Set to true to compress responses to clients with gzip
FLAGS_enable_compression=true

# Maximum number of HTTP routes to cache responses from
# the origin for.
FLAGS_max_cached_routes=1024

################################################################
# Peer to Peer CDN Settings                                    #
################################################################
# Set to true to enable integration with a Gladius p2p network.
# Allows for distributed CDN functionality.
FLAGS_enable_p2p=false

# Local directory to write cached response data to.
# Ignored if FLAGS_enable_p2p is not set to true.
FLAGS_cache_dir=/dev/null

# IP/hostname of Gladius p2p network gateway process.
# Ignored if FLAGS_enable_p2p is not set to true.
FLAGS_gateway_address=127.0.0.1

# Port of Gladius p2p network gateway process.
# Ignored if FLAGS_enable_p2p is not set to true.
FLAGS_gateway_port=3001

# Domain of the gladius pool.
# Ignored if FLAGS_enable_p2p is not set to true.
FLAGS_pool_domain=examplepool.com

# Subdomain for edge nodes in the Gladius p2p network.
# Ignored if FLAGS_enable_p2p is not set to true.
FLAGS_cdn_subdomain=cdn1
################################################################
# Service Worker Settings                                      #
################################################################

# Set to false to disable service worker injection,
# true to inject service worker into cached responses.
FLAGS_enable_service_worker=true

# Local path to service worker to inject.
# Ignored unless FLAGS_enable_service_worker is true.
FLAGS_sw_path=/home/service-worker.js

################################################################
# SSL Settings                                                 #
################################################################
# The flags below are only necessary if you wish to use SSL
# (which is required for production use of service workers)

# Set to true to redirect users from HTTP to HTTPS requests
FLAGS_upgrade_insecure=true

# Port to bind to for receiving HTTPS requests
FLAGS_ssl_port=443

# Local file path to HTTPS certificate
FLAGS_cert_path=/home/cert.pem

# Local file path to private key for HTTPS certificate
# defined in FLAGS_cert_path.
FLAGS_key_path=/home/priv_key.pem
