# This file is meant to be passed in as the --env-file parameter
# of a docker run command when running the masternode container.
# Please copy this file and edit to suit your needs.
# Comment out any variable to use the default value set by the
# masternode itself.

FLAGS_ip=0.0.0.0
FLAGS_port=80
FLAGS_origin_host=192.168.2.12
FLAGS_origin_port=80
FLAGS_protected_domain=www.example.com
FLAGS_cache_dir=/home/bob/cache/
FLAGS_gateway_address=127.0.0.1
FLAGS_gateway_port=3001
FLAGS_sw_path=/home/bob/service-worker.js

# The flags below are only necessary if you wish to use SSL
# (which is required for production use of service workers)
FLAGS_upgrade_insecure=true
FLAGS_ssl_port=443
FLAGS_cert_path=/home/bob/cert.pem
FLAGS_key_path=/home/bob/priv_key.pem