html
  head
    title= title
  body
    h1 Welcome to the Gladius Beta Demo!
    p If you're reading this it means you've successfully connected to the first website run on the Gladius Network. All of the items below were loaded from a Gladius edge node particpating in our beta program! (Specifically this one: #{edgeAddress})

    img(src='https://images.pexels.com/photos/326875/pexels-photo-326875.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb' id='test')

    p Picture showing how the network functions

    p Map showing your location, master node location, and edge node location (JS also came from edge node!) https://github.com/Leaflet/Leaflet

    p Include some pretty text here rendered with CSS from edge node

    p To read more about the beta check out this link here: beta.gladius.io, or submit an issue on our github if something doesn't look right!
